In [1]:
import numpy as np
import scipy.spatial
from collections import Counter
import pandas as pd #for data franes 
import matplotlib.pyplot as plt # for data visualization 
import seaborn as sns # for data visualization
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
#data import
df = pd.read_csv('iris.csv', names= ['f1', 'f2', 'f3', 'f4', 'label'])

In [3]:
df.shape

(150, 5)

In [4]:
df.head()

    f1   f2   f3   f4        label
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   f1      150 non-null    float64
 1   f2      150 non-null    float64
 2   f3      150 non-null    float64
 3   f4      150 non-null    float64
 4   label   150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [6]:
df.isnull().sum()

f1       0
f2       0
f3       0
f4       0
label    0
dtype: int64

In [7]:
df.isna().sum()

f1       0
f2       0
f3       0
f4       0
label    0
dtype: int64

In [8]:
#Declare feature vector and target variable
X = df.drop(['label'], axis=1)
y = df['label']

In [9]:
#Train Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
X_train.shape, X_test.shape

((120, 4), (30, 4))

In [10]:
X_train.isnull()

        f1     f2     f3     f4
137  False  False  False  False
84   False  False  False  False
27   False  False  False  False
127  False  False  False  False
132  False  False  False  False
..     ...    ...    ...    ...
9    False  False  False  False
103  False  False  False  False
67   False  False  False  False
117  False  False  False  False
47   False  False  False  False

[120 rows x 4 columns]

In [11]:
final_output = []
for i in range(len(X_test)):
    d = []
    votes = []
    for j in range(len(X_train)):
        dist = scipy.spatial.distance.euclidean(X_train[j] , X_test[i])
        d.append([dist, j])
        d.sort()
        d = d[0:self.k]
        for d, j in d:
            votes.append(y_train[j])
        ans = Counter(votes).most_common(1)[0][0]
        final_output.append(ans)

KeyError: 0